<ul class="widget-box--arrow-links">
  <li>
    <%= static_link_to :user_guides %>
  </li>
  <li>
    <%= static_link_to :glossary %>
  </li>
  <li>
    <%= static_link_to :forums %></li>
  <li>
    <%= static_link_to (EnterpriseToken.active? ? :enterprise_support : :enterprise_support_as_community) %>
  </li>
  <li>
    <%= link_to('scalenow-AI website', "https://www.scalenowai.com",
                { aria: {label: 'scalenow-AI website'},
                  target: '_blank',
                  title: 'scalenow-AI website'}) %>
  </li>
  <li>
    <%= link_to('Newsletter', "https://scalenowai.com/",
          { aria: {label: 'Newsletter'},
            target: '_blank',
            title: 'Newsletter'}) %>
  </li>
  <li>
    <%= link_to('scalenow-AI blog', "https://scalenowai.com/post/",
                { aria: {label: 'scalenow-AI blog'},
                  target: '_blank',
                  title: 'scalenow-AI blog'}) %>
  </li>
  <li>
    <%= static_link_to :release_notes %>
  </li>
  <li>
    <%= static_link_to :report_bug %>
  </li>
  <li>
    <%= static_link_to :roadmap %>
  </li>
  <li>
    <%= static_link_to :crowdin %>
  </li>
  <li>
    <%= static_link_to :api_docs %>
  </li>
</ul>
