<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% html_title(t(:label_administration), t(:label_overview)) -%>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t(:label_overview) }
    header.with_breadcrumbs(
      [{ href: admin_index_path, text: t(:label_administration), skip_for_mobile: true },
       t(:label_overview)]
    )
  end
%>
<div class="row">
  <% @menu_nodes.sort_by(&:caption).zip(@images).each_slice(4) do |menu_node_group| %>
    <% menu_node_group.each do |menu_node, image| %>
      <div class="col-md-3 project-card">
        <%= link_to menu_node.url, class: 'text-body', style: 'text-decoration: none;' do %>
          <div class="card card-rounded-square">
            <div class="card-body d-flex flex-column text-center">
              <div class="mb-auto"></div>
              <h5 class="mt-5 fs-15 d-flex align-items-center justify-content-center">
                <%= op_icon("menu-block--icon icon3 icon-#{(menu_node.icon || '')}") %>
                <span class="menu-block--title ml-2"> <%= menu_node.caption %> </span>
              </h5>
              <div class="mt-2 img-box">
                <%= image_tag "administration_images/#{image}", class: 'img-fluid card-image', alt: "#{image}" %>
              </div>
              <div class="mt-auto"></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<style>
.card-rounded-square {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Set aspect ratio to 1:1 for a square */
  border-radius: 33px;
  border: 2px solid black;
  overflow: hidden;
}

.card {
  height: 0; /* Removed fixed height */
  padding-top: 100%; /* Set height equal to width for square */
  cursor: pointer;
}

.card-rounded-square .card-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.img-box {
  height: 50%; /* Adjust height */
  width: 70%; /* Adjust width */
}

.img-box img {
  object-fit: contain;
  height: 100%;
}

.menu-block--icon:before {
  font-size: 29px;
  padding: 0;
  color: #808080;
}

.ml-2 {
  margin-left: 0.5rem;
}
</style>
