<%#-- copyright
OpenProject is an open source project management software.
...
++#%>

<% html_title t(:label_administration), t(:label_plugins) %>

<div class="bg-white p-4 mb-4 rounded-border" style="border: 1px solid #000;">
  <%= render(Primer::OpenProject::PageHeader.new) do |header| %>
    <% header.with_title(classes: "color-orange") do %>
      <%= t(:label_plugins) %>
    <% end %>

    <% header.with_breadcrumbs([
      { href: admin_index_path, text: t(:label_administration) },
      t(:label_plugins)
    ]) %>
  <% end %>

  <% if @plugins.any? %>
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table plugins">
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>

          <thead>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                  <span><%= I18n.t("label_name") %></span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                  <span><%= I18n.t("attributes.author") %></span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                  <span><%= I18n.t("attributes.version") %></span>
                </div>
              </div>
            </th>
          </thead>

          <tbody>
            <% @plugins.each do |plugin| %>
              <tr>
                <td>
                  <span class="name"><%= h plugin.name %></span>

                  <% if plugin.description.present? %>
                    <%= content_tag("span", plugin.description, class: "description") %>
                  <% end %>

                  <% if plugin.url.present? %>
                    <%= content_tag("span", link_to(plugin.url, plugin.url), class: "url") %>
                  <% end %>
                </td>

                <td class="author">
                  <%= plugin.author_url.blank? ? plugin.author : link_to(plugin.author, plugin.author_url) %>
                </td>

                <td class="version">
                  <% if plugin.bundled %>
                    <%= t(:label_bundled) %>
                  <% else %>
                    <%= plugin.version %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>

  <% else %>
    <div style="pointer-events: none;">
      <%= no_results_box display_action: true,
                         action_url: OpenProject::Static::Links.url_for(:integrations) %>
    </div>
  <% end %>
</div>
