<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2024 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% html_title t(:label_administration), t(:label_authentication) -%>
<div class="custom-toolbar-title">
  <%= toolbar title: t(:label_authentication) %>
</div>

<%= styled_form_tag(admin_settings_authentication_path, method: :patch) do %>
  <section class="form--section form-custom">
    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= I18n.t(:general, scope: [:settings]) %></legend>
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="form--field mb-3 d-flex flex-nowrap api_checkbox"><%= setting_check_box :login_required %></div>
        </div>
        <div class="col-md-8">
          <div class="form--field col-md-6 mb-3 d-flex flex-nowrap api_number_field api_number_field_1"><%= setting_select :self_registration, [[t(:label_disabled), Setting::SelfRegistration.disabled.to_s],
                                                    [t(:label_registration_activation_by_email), Setting::SelfRegistration.by_email.to_s],
                                                    [t(:label_registration_manual_activation), Setting::SelfRegistration.manual.to_s],
                                                    [t(:label_registration_automatic_activation), Setting::SelfRegistration.automatic.to_s]],
                                                    container_class: '-middle' %>
          </div>
        </div>
          <div class="col-md-4">
            <div class="form--fields-container d-flex align-items-center">
              <div class="form--field mb-3 d-flex flex-nowrap api_checkbox">
                <%= setting_check_box :email_login, title: I18n.t("tooltip.setting_email_login") %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <span class="activation-block mb-3 d-flex flex-nowrap api_number_field api_number_field_2">
              <%= render Settings::NumericSettingComponent.new("invitation_expiration_days", unit: "days") %>
            </span>
          </div>

      </fieldset>

    <fieldset class="form--fieldset">
      <fieldset id="registration_footer" class="form--fieldset">
        <legend class="form--fieldset-legend"><%= I18n.t(:setting_registration_footer) %></legend>
        <%= render Settings::TextSettingComponent.new(I18n.locale, name: "registration_footer") %>
      </fieldset>
    </fieldset>


    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= I18n.t(:passwords, scope: [:settings]) %></legend>
      <% if !OpenProject::Configuration.disable_password_login? %>
        <div class="form--field -wide-label "><%= setting_text_field :password_min_length, size: 6, container_class: '-xslim' %></div>
        <div class="form--field -wide-label ">
          <% rules = OpenProject::Passwords::Evaluator.known_rules.map do |rule|
            [t("label_password_rule_#{rule}"), rule]
          end %>
          <%= setting_multiselect :password_active_rules, rules %>
        </div>
        <div class="d-checkbox">
        <div class="d-flex flex-nowrap">
        <div class="form--field -wide-label col-md-5"><%= setting_text_field :password_min_adhered_rules, size: 6, container_class: '-xslim' %></div>
        <div class="form--field -wide-label col-md-7"><%= setting_text_field :password_days_valid, size: 6, container_class: '-xslim' %>
          <span class="form--field-instructions">
            <%= t(:text_hint_disable_with_0) %>
          </span>
        </div>
        </div>
        <div class="d-flex flex-nowrap">
        <div class="form--field -wide-label col-md-5"><%= setting_text_field :password_count_former_banned, size: 6, container_class: '-xslim' %></div>

        <div class="form--field -wide-label col-md-7"><%= setting_check_box :lost_password, label: :label_password_lost %></div>
        </div>
        </div>
      <% else %>
        <div class="form--field -wide-label">
          <label><b><%= I18n.t :note %>: </b>
            <%=
              url = 'https://www.openproject.org/docs/installation-and-operations/configuration/#disable-password-login'

              explanation = I18n.t :note_password_login_disabled,
                                   configuration: "<a target=\"_blank\" href=\"#{url}\"> #{I18n.t('label_configuration')}</a>"

              explanation.html_safe
            %>
          </label>
        </div>
      <% end %>
    </fieldset>


    <% unless OpenProject::Configuration.disable_password_login? %>
      <fieldset class="form--fieldset">
        <legend class="form--fieldset-legend"><%= I18n.t(:brute_force_prevention, scope: [:settings]) %></legend>
        <div class="d-flex flex-nowrap">
          <div class="form--field -wide-label col-md-6"><%= setting_text_field :brute_force_block_after_failed_logins, container_class: '-xslim' %>
            <span class="form--field-instructions">
              <%= t(:text_hint_disable_with_0) %>
            </span>
          </div>
          <div class="form--field -wide-label col-md-6"><%= setting_text_field :brute_force_block_minutes, unit: t(:label_minute_plural), container_class: '-xslim' %></div>
        </div>
      </fieldset>
    <% end %>

    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= I18n.t(:session, scope: [:settings]) %></legend>
      <div class="d-flex flex-nowrap">
      <div class="form--field -wide-label"><%= setting_select :autologin,
                 ([[t(:label_disabled), 0]] +
                   Settings::Definition[:autologin].allowed.collect do |days|
                    [t('datetime.distance_in_words.x_days', count: days),
                    days.to_s]
                  end),
                  container_class: '-xslim' %>
      </div>
      </div>
      <div class="d-flex flex-nowrap">
        <div class="form--field -wide-label col-md-6"><%= setting_check_box :session_ttl_enabled %></div>
        <div class="form--field -wide-label col-md-6" id="settings_session_ttl_container" style="display:none;">
          <%= setting_text_field :session_ttl, unit: t(:label_minute_plural), container_class: '-xslim' %>
          <span class="form--field-instructions">
            <%= I18n.t('setting_session_ttl_hint') %>
          </span>
        </div>
      </div>
    </fieldset>

    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend"><%= I18n.t(:other, scope: [:settings]) %></legend>
      <div class="form--field -wide-label"><%= setting_check_box :log_requesting_user %></div>
    </fieldset>
    <%= styled_button_tag t(:button_save), class: '-primary -with-icon icon-checkmark custom-secondary-button rounded-border' %>
  </section>
  <% unless OpenProject::Configuration.disable_password_login? %>
    <div style="float:right;">
      <%= link_to t(:label_ldap_authentication), {controller: '/ldap_auth_sources', action: 'index'}, class: 'icon icon-server-key' %>
    </div>
  <% end %>
<% end %>

<style>
  .custom-toolbar-title .title-container h2 {
    color: #ff7f5d;
  }

  .form-custom {
    background: #fff;
    padding: 12px;
    border-radius: 33px;
    border: 2px solid #000;
  }

  .form--section .api_checkbox .form--label{
    max-width: 95%;
  }

  .form--section .api_checkbox .form--field-container{
    max-width: 6%;
  }

  .api_number_field  .form--field-instructions{
    margin-left: 0;
    padding-top: 10px;
    width: 100%;
    max-width: 100%;
   }

   .api_number_field_1 .form--label {
      min-width: 125px !important;
    }

    .api_number_field_2 .form--label {
      min-width: 100px !important;
    }
    .activation-block  .form--field {
    flex-wrap: nowrap;
    }
    .activation-block .form--label {
      min-width: 218px !important;
    }
    span.form--field-container.-vertical {
    display: flex;
   }
</style>
