<% html_title(t(:label_administration), t('ldap_groups.synchronized_groups.plural')) -%>

<div class="bg-white p-4 mb-4 rounded-border" style="border: 1px solid #000;">
  <%= breadcrumb_toolbar t('ldap_groups.synchronized_groups.plural'), title_class: "color-orange" do %>
    <li class="toolbar-item">
      <%= link_to new_ldap_groups_synchronized_filter_path,
                  { class: 'button rounded-border',
                    aria: {label: t('ldap_groups.synchronized_filters.singular')},
                    title: t('ldap_groups.synchronized_filters.add_new')} do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t('ldap_groups.synchronized_filters.singular') %></span>
      <% end %>
    </li>

    <li class="toolbar-item">
      <%= link_to new_ldap_groups_synchronized_group_path,
                  { class: 'button rounded-border',
                    aria: {label: t('ldap_groups.synchronized_groups.singular')},
                    title: t('ldap_groups.synchronized_groups.add_new')} do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t('ldap_groups.synchronized_groups.singular') %></span>
      <% end %>
    </li>
  <% end %>

  <div class="op-toast -info" style="border-radius: 8px; pointer-events: none;">
    <div class="op-toast--content">
      <strong><%= t('note') %></strong>
      <%= t('ldap_groups.synchronized_groups.help_text_html') %>
    </div>
  </div>

  <section class="admin--edit-section">
    <h3 class="form--section-title"><%= t('ldap_groups.synchronized_filters.plural') %></h3>
    <%= render ::LdapGroups::SynchronizedFilters::TableComponent.new(rows: @filters) %>
  </section>

  <section class="admin--edit-section mb-0">
    <h3 class="form--section-title"><%= t('ldap_groups.synchronized_groups.plural') %></h3>
    <%= render ::LdapGroups::SynchronizedGroups::TableComponent.new(rows: @groups) %>
  </section>
</div>
