<% local_assigns[:additional_breadcrumb]=t('ldap_groups.synchronized_groups.add_new') %>
<% html_title(t(:label_administration), t('ldap_groups.synchronized_groups.add_new')) -%>
<div class="bg-white p-4 mb-4 rounded-border" style="border: 1px solid #000;">
  <%= error_messages_for @group %>
  <%= toolbar title: t('ldap_groups.synchronized_groups.add_new'), title_class: "color-orange" %>
  <%= labelled_tabular_form_for @group, as: :synchronized_group, url: { action: :create } do |f| %>
    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend">
        <%= @group.class.human_attribute_name 'auth_source' %>
      </legend>

      <div class="form--field -required">
        <%= f.select :ldap_auth_source_id, LdapAuthSource.pluck(:name, :id), required: true,
          include_blank: "--- #{t(:actionview_instancetag_blank_option)} ---" , container_class: '-middle' %>
        <div class="form--field-instructions">
          <%= t('ldap_groups.synchronized_groups.form.auth_source_text') %>
        </div>
      </div>
    </fieldset>
    <fieldset class="form--fieldset">
      <legend class="form--fieldset-legend">
        <%= @group.class.model_name.human %>
      </legend>

      <div class="form--field -required">
        <%= f.text_field :dn, required: true, container_class: '-middle' %>
        <div class="form--field-instructions">
          <%= t('ldap_groups.synchronized_groups.form.dn_text') %>
        </div>
      </div>

      <div class="form--field -required">
        <%= f.check_box :sync_users, container_class: '-middle' %>
        <div class="form--field-instructions">
          <%= t('ldap_groups.synchronized_groups.form.sync_users_text') %>
        </div>
      </div>

      <div class="form--field -required">
        <%= f.select :group_id, Group.pluck(:lastname, :id), required: true,
          include_blank: "--- #{t(:actionview_instancetag_blank_option)} ---" , container_class: '-middle' %>
        <div class="form--field-instructions">
          <%= t('ldap_groups.synchronized_groups.form.group_text') %>
        </div>
      </div>
    </fieldset>

    <p class="m-0">
      <%= styled_button_tag t(:button_create), class: '-primary -with-icon icon-checkmark custom-secondary-button rounded-border m-0 mr-2 px-3' %>
      <%= link_to t(:button_cancel), url_for(action: :index), class: 'button -with-icon icon-cancel rounded-border m-0 px-3' %>
    </p>
  <% end %>
</div>
