<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<tr>
  <%= content_tag('td', helpers.format_activity_day(@day)) %>

  <td>
    <% if @event.event_path %>
      <%= link_to helpers.truncate_formatted_text(@event.event_title.squish, length: 30), @event.event_path %>
    <% else %>
      <%= helpers.truncate_formatted_text(@event.event_title.squish, length: 30) %>
    <% end %>
    <%= project_suffix %>
  </td>

  <td>
    <% if description.present? -%>
      <%= helpers.truncate_formatted_text(description, length: 30) %>
    <% end -%>
  </td>

  <td>
    <% if comment.present? -%>
      <ul style="margin-left: 1rem;">
        <li>
          <strong><%= t('label_comment_added') %></strong>
          <p><%= helpers.truncate_formatted_text(comment, length: 30) %></p>
        </li>
      </ul>
    <% end -%>
  </td>

  <td>
    <% if display_details? -%>
      <ul style="margin-left: 1rem;">
        <% rendered_details.each do |detail| -%>
          <li><%= detail %></li>
        <% end -%>
        <% if time_entry_url.present? -%>
          <li><%= link_to "Details", @event.event_url %></li>
        <% end -%>
      </ul>
    <% elsif noop? -%>
      <ul style="margin-left: 1rem;">
        <li>
          <em><%= I18n.t(:"journals.changes_retracted") %></em>
        </li>
      </ul>
    <% end -%>
  </td>

  <%=
    render(Activities::ItemSubtitleComponent.new(
      user: display_user? && @event.event_author,
      datetime: @event.event_datetime,
      is_creation: initial?,
      is_deletion: deletion?,
      is_work_package: work_package?,
      journable_type: @event.journal.journable_type)
    )
  %>
</tr>
