<% html_title t(:label_administration), t("admin.enterprise.upgrade_to_ee") %>

<div class="bg-white px-4 pt-4 mb-4 rounded-border" style="border: 1px solid #000;">
  <%= toolbar title: t("admin.enterprise.upgrade_to_ee"), title_class: "color-orange" %>

  <%= error_messages_for 'token' %>
  <section class="form--section m-0">
    <% if @current_token.present? %>
      <%= render partial: "current" %>
    <% else %>
      <%= render partial: "info" %>
    <% end %>

    <%= render partial: "form" %>
  </section>
</div>
