<%#-- copyright
OpenProject is an open source project management software.
...
++#%>

<div class="bg-white p-4 mb-4 rounded-border" style="border: 1px solid #000;">

  <%= render(Primer::OpenProject::PageHeader.new) do |header| %>
    <% header.with_title(classes: "color-orange") do %>
      <%= t(:label_api_access_key_type) %>
    <% end %>

    <% header.with_breadcrumbs(
      [
        { href: admin_index_path, text: t("label_administration") },
        { href: admin_settings_api_path, text: t("menus.admin.api_and_webhooks"), skip_for_mobile: true },
        t(:label_api_access_key_type)
      ]
    ) %>
  <% end %>

  <%= styled_form_tag(admin_settings_api_path, method: :patch) do %>

    <!-- === REST API SETTINGS === -->
    <section class="form--section m-0">
      <div class="row">
        <div class="col-md-4">
          <div class="form--field mb-3 d-flex flex-nowrap api_checkbox">
            <%= setting_check_box :rest_api_enabled %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form--field mb-3 api_number_field">
            <%= setting_number_field :apiv3_max_page_size, min: 50, container_class: "-slim" %>
            <div class="form--field-instructions">
              <p><%= t(:setting_apiv3_max_page_instructions_html) %></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form--field">
            <%= setting_check_box :apiv3_write_readonly_attributes, container_class: "-slim" %>
            <div class="form--field-instructions">
              <p><%= t(:setting_apiv3_write_readonly_attributes_instructions_html,
                       api_documentation_link: static_link_to(:api_docs, label: 'Use Cases')) %></p>
            </div>
          </div>
        </div>
      </div>


      <!-- === API DOCUMENTATION SETTINGS === -->
      <fieldset class="form--fieldset">
        <legend class="form--fieldset-legend"><%= I18n.t("setting_apiv3_docs") %></legend>
      </fieldset>

      <div class="row">
        <div class="col-md-4">
          <div class="form--field mb-3 api_checkbox api_number_field">
            <%= setting_check_box :apiv3_docs_enabled %>
            <div class="form--field-instructions">
              <p><%= t(:setting_apiv3_docs_enabled_instructions_html, link: api_docs_url) %></p>
            </div>
          </div>
        </div>
      </div>


      <!-- === CORS SETTINGS === -->
      <fieldset class="form--fieldset">
        <legend class="form--fieldset-legend"><%= I18n.t("setting_apiv3_cors_title") %></legend>
      </fieldset>

      <div class="row">
        <div class="col-md-4">
          <div class="form--field mb-3 api_checkbox">
            <%= setting_check_box :apiv3_cors_enabled %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form--field mb-3 api_number_field">
            <%= setting_text_area :apiv3_cors_origins, rows: 5, container_class: "-wide" %>
            <div class="form--field-instructions">
              <p><%= t(:text_line_separated) %></p>
              <p><%= t(
                       :setting_apiv3_cors_origins_text_html,
                       origin_link: ::OpenProject::Static::Links.url_for(:origin_mdn_documentation)
                     ) %></p>
            </div>
          </div>
        </div>
      </div>

      <%= styled_button_tag t(:button_save),
                            class: "-primary -with-icon icon-checkmark custom-secondary-button rounded-border m-0 px-3" %>

    </section>

  <% end %>

  <!-- custom CSS preserved -->
  <style>
    .form--section .api_checkbox .form--label {
      max-width: 95%;
    }
    .form--section .api_checkbox .form--field-container {
      max-width: 6%;
    }
    .api_number_field .form--field-instructions {
      margin-left: 0;
      padding-top: 10px;
      width: 100%;
      max-width: 100%;
    }
  </style>

</div>
