<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_login) %>
<%= call_hook :view_account_login_top %>

<!-- <%= back_url_hidden_field_tag %> -->
<div class="auth-page-wrapper pt-5">
  <!-- auth page bg -->
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <!-- <div class="bg-overlay"></div> -->

    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
    </div>
  </div>

  <!-- auth page content -->
  <div class="auth-page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-5">
          <div class="text-center my-4">
            <!-- <a href="<%=root_path %>" class="d-inline-block op-logo--link" style="height: 60px;"></a> -->
            <!-- <p class="mt-3 fs-15 fw-medium">Premium Admin & Dashboard Template</p> -->
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row justify-content-center auth-box-margin" style="margin-top: 100px;">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card mt-4">

            <div class="card-body p-4">
              <div class="text-center mt-2">
                <h5 class="text-primary">Welcome Back !</h5>
                <p class="text-muted">Sign in to continue to scalenow-AI.</p>
              </div>
              <div class="p-2 mt-4">
                <%= styled_form_tag({action: "login" }, autocomplete: 'off' , class: '-wide-labels user-login--form' ) do %>

                  <div class="mb-3">
                    <%= styled_label_tag 'username' , User.human_attribute_name(:login), class: "form-label" %>
                    <%= styled_text_field_tag 'username' , params[:username], autofocus: params[:username].blank?, autocapitalize: 'none' , class: "form-control ps-3 pe-3" , id: "username" , placeholder: "Enter username" %>
                    <!-- <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username"> -->
                  </div>

                  <div class="mb-3">
                    <div class="float-end">
                      <a href="<%= account_lost_password_path %>" class="text-muted">Forgot password?</a>
                    </div>

                    <%= styled_label_tag 'password' , User.human_attribute_name(:password), class: "form-label" %>

                    <div class="position-relative auth-pass-inputgroup mb-3">
                      <%= styled_password_field_tag 'password' , nil, autofocus: !params[:username].blank?, class: "form-control ps-3 pe-3 password-input", placeholder: "Enter password", id: "password-input" %>
                      <button class="btn btn-link text-decoration-none text-muted password-addon show-password-button" type="button" id="password-addon">
                        <i class="ri-eye-fill align-middle"></i>
                      </button>
                    </div>

                    <!-- <label class="form-label" for="password-input">Password</label>
                    <div class="position-relative auth-pass-inputgroup mb-3">
                      <input type="password" class="form-control pe-5 password-input" placeholder="Enter password"
                        id="password-input">
                      <button
                        class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                        type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                    </div> -->
                  </div>

                  <!-- <% if Setting::Autologin.enabled? %> -->
                    <!-- <div class="form-check">
                      <%= styled_check_box_tag 'autologin', 1, false, class: "form-check-input", value: "", id: "auth-remember-check" %>
                      <%= t('users.autologins.prompt', num_days: I18n.t('datetime.distance_in_words.x_days', count: Setting.autologin)) %>
                      <label class="form-check-label" for="auth-remember-check">Remember me</label>
                    </div> -->
                  <!-- <% end %> -->

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                    <label class="form-check-label" for="auth-remember-check">Remember me</label>
                  </div>

                  <div class="mt-4">
                    <%= submit_tag t(:button_login), name: :login, class: 'btn custom-secondary-button w-100', data: { disable_with: t(:label_loading) } %>
                    <!-- <button class="btn btn-secondary w-100" type="submit">Sign In</button> -->
                  </div>

                  <div class="text-center">
                    <%# <div class="signin-other-title">
                      <h5 class="fs-13 mb-4 title">Sign In with</h5>
                    </div>
                    <div class="social-media-login">
                      <button type="button" class="btn custom-primary-button btn-icon waves-effect waves-light">
                        <i class="ri-facebook-fill fs-16"></i>
                      </button>
                      <button type="button" class="btn custom-danger-button btn-icon waves-effect waves-light">
                        <i class="ri-google-fill fs-16"></i>
                      </button>
                      <button type="button" class="btn custom-dark-button btn-icon waves-effect waves-light">
                        <i class="ri-github-fill fs-16"></i>
                      </button>
                      <button type="button" class="btn custom-info-button btn-icon waves-effect waves-light">
                        <i class="ri-twitter-fill fs-16"></i>
                      </button>
                    </div> %>
                    <%= render partial: 'account/auth_providers' %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- end card body -->
          </div>
          <!-- end card -->

          <div class="my-4 text-center">
            <% if Setting::SelfRegistration.enabled? %>
              <p class="mb-0">Don't have an account ?
                <%= link_to "Signup",
                            '',
                            title: t(:label_register),
                            class: 'login-form--footer-link registration-modal--activation-link fw-semibold text-primary text-decoration-underline' %>
              </p>
            <% end %>
          </div>
          <%= render Homescreen::AnnouncementComponent.new(announcement: Announcement.active_and_current) %>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end auth page content -->

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <!-- <p class="mb-0 text-muted">&copy;
              <script>document.write(new Date().getFullYear())</script> Velzon. Crafted with <i
                class="mdi mdi-heart text-danger"></i> by Themesbrand
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->

<section data-augmented-model-wrapper
         data-activation-selector=".registration-modal--activation-link"
         data-modal-class-name="registration-modal -primary">
  <% @user ||= User.new %>
  <%= render partial: '/account/register' %>
</section>

<%= call_hook :view_account_login_bottom %>
