<%= widget_wrapper do %>
  <p class="widget-box--additional-info"><%= t("homescreen.additional.users") %></p>

  <% unless @newest_users.empty? %>
  <div class="vstack gap-3">
    <% @newest_users.each do |user| %>
      <div class="d-flex align-items-center">
        <div class="avatar-xs flex-shrink-0 me-3">
          <%= render(Users::AvatarComponent.new(user: user, show_name: false)) %>
        </div>

        <div class="flex-grow-1">
          <p class="fs-13 m-0"><%= link_to_user(user, class: "text-body d-block") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

  <div class="widget-box--buttons">
    <% if current_user.admin? %>
      <%= link_to new_user_path, class: "button -primary" do %>
        <%= op_icon("button--icon icon-add") %>
        <span class="button--text"><%= t(:label_invite_user) %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
